.DS_Store
DerivedData/
Prod/
Resourses/
readme_staff.md
LLMFarm.xcodeproj/project.xcworkspace/xcuserdata/guinmoon.xcuserdatad
llmfarm_core.swift/Sources/llmfarm_core/backup/
xcuserdata/
site/*
backup/*
*autosave.kra
LLMFarm.xcodeproj/xcshareddata/xcschemes/LLMFarm.xcscheme
llmfarm_core_legacy.swift
dist/iphone-png-screen.kra
dist/screen1.png~
